<div class="flex justify-between items-start">
  <form
    method="POST"
    class="w-[60%] my-10 ml-5 grid gap-y-5"
    action="/books"
    enctype="multipart/form-data"
  >
    <label class="font-bold text-2xl">Add New Data</label>
    <input
      type="text"
      name="title"
      placeholder="add title"
      class="border-2 outline-none p-3 rounded-lg text-sm"
    />
    <input
      type="text"
      name="author"
      placeholder="add author"
      class="border-2 outline-none p-3 rounded-lg text-sm"
    />
    <textarea
      name="description"
      placeholder="add description"
      cols="30"
      rows="10"
      class="border-2 resize-none outline-none p-3 text-sm rounded-2xl"
    ></textarea>
    <input type="file" name="img" id="img" accept="image/*" />
    <button class="bg-slate-400 w-1/6 py-3 px-2 text-white rounded-xl">
      Send
    </button>
  </form>

  <% if (!query) { %>
  <div class="w-[30%] grid my-10 gap-y-16">
    <label class="font-bold text-2xl">Preview</label>
    <span>
      <p class="font-bold">Image</p>
      <img src="images/<%= query.body.img %>" alt="image" />
    </span>
    <span>
      <p class="font-bold">Title</p>
      <p><%= query.body.title %></p>
    </span>
    <span>
      <p class="font-bold">Author</p>
      <p><%= query.body.author %></p>
    </span>
    <span>
      <p class="font-bold">Description</p>
      <p><%= query.body.description %></p>
    </span>
  </div>
  <% } %>
</div>
