<div class="font-bold px-10 py-5 w-screen border-b-2 shadow-md bg-slate-100">
  <span class="text-3xl font-bold text-black">Our</span>
  <span class="text-3xl font-bold text-orange-400">Library</span>
</div>
